@{
    ViewBag.Title = "Support";
}


<style>
    td {
        border: 1px solid black;
        padding: 12px;
    }
    .input-caption {
        float: left;
    }
    .input-config {
        float: right;
    }
    #input-div {
        width: 420px;
        display: grid;
        border: 1px solid black;
    }
    .input-entry {
        margin: 10px;
    }
</style>

<form method="post" action="/Home/Post">
<div id="input-div">
    <div class="input-entry">
        <b class="input-caption">Time Min:</b> 
        <input class="input-config" min="1" value="@ViewBag.Config.QueryMinTime" name="QueryMinTime" type="number"/>
    </div>
    <div class="input-entry">
        <b class="input-caption">Time Max:</b> 
        <input class="input-config" min="2" value="@ViewBag.Config.QueryMaxTime" name="QueryMaxTime" type="number"/>
    </div>
    <div class="input-entry">
        <b class="input-caption">Tm:</b> 
        <input class="input-config" min="1" value="@ViewBag.Config.Tm" name="Tm" type="number"/>
    </div>
    <div class="input-entry">
        <b class="input-caption">Td:</b> 
        <input class="input-config" min="2" value="@ViewBag.Config.Td" name="Td" type="number"/>
    </div>

    <div class="input-entry">
        <b class="input-caption">Num of operators:</b> 
        <input class="input-config" min="1" value="@ViewBag.Config.NumOfOperators" name="NumOfOperators" type="number"/>
    </div>
    <div class="input-entry">
        <b class="input-caption">Num of managers:</b> 
        <input class="input-config" min="0" value="@ViewBag.Config.NumOfManagers" name="NumOfManagers" type="number"/>
    </div>
    <div class="input-entry">
        <b class="input-caption">Num of directors:</b> 
        <input class="input-config" min="1" value="@ViewBag.Config.NumOfDirectors" name="NumOfDirectors" type="number"/>
    </div>
    <div class="input-entry">
        <button type="submit">Submit and Start</button>
    </div>

</div>
</form>

<div style="float: left; margin: 10px;">
    <h2>Queries</h2>
    <table>
        <tr>
            <td>Id</td>
            <td>Text</td>
            <td>Status</td>
            <td>Processing Time</td>
        </tr>
        @foreach (var q in ViewBag.Queries) {
            <tr>
                <td>
                    <p>#@q.Id</p>
                </td>
                <td>
                    <p>@q.Text</p>
                </td>
                <td>
                    <p>@q.Status</p>
                </td>
                <td>
                    <p>@q.ProcessTimeSec sec</p>
                </td>
            </tr>
        }
    </table>
</div>

<div style="float: left; margin: 10px;">
    <h2>Employees</h2>

    <table>
        <tr>
            <td>Query Id</td>
            <td>Free</td>
            <td>Position</td>
        </tr>
        @foreach (var e in ViewBag.Employees) {
            <tr>
                <td>
                    <p>@(e.Query?.Id ?? "None")</p>
                </td>
                <td>
                    <p>@e.Free</p>
                </td>
                <td>
                    <p>@e.Position</p>
                </td>
            </tr>
        }
    </table>
</div>

<div style="float: right; margin: 10px;">
    <h2>History</h2>

    <table>
        <tr>
            <td>Position</td>
            <td>Employee Id</td>
            <td>Queries</td>
        </tr>
        @foreach (var h in ViewBag.History) {
            <tr>
                <td>
                    <p>@h.Key.Position</p>
                </td>
                <td>
                    <p>@h.Key.Id</p>
                </td>
                <td>
                    <p>
                        <table>
                            @foreach (var q in h.Value) {
                                <tr>
                                    <td>#@q.Id</td>
                                    <td>@q.ProcessTimeSec sec</td>
                                </tr>
                            }
                        </table>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>